extends layout
block header
  h1.header ボーナスポイント比較ナビ
  .card.card-header
    .card-content
      h2.info-text
        span コンビニのボーナスポイントの還元率を高い順にリストアップするサイトです
block main
  .row
    center.col.s4
      a.btn-floating(href="/lawson")
        span.footer-icon(data-mark="lawson")
    center.col.s4
      a.btn-floating(href="/famima")
        span.footer-icon(data-mark="famima")
    center.col.s4
      a.btn-floating(href="/seven")
        span.footer-icon(data-mark="seven")
block footer
