extends layout
block content
  <div class="widthBox">
  <ul class="ranking">
    - for(var　i　=　0;　i<3;i++)
      <li class="ranking-cassette">

        <div class="cassette-imgHolder">
          <img class="cassette-img" src="https://www.lawson.co.jp/ponta/tameru/bonus/img/bp_181101_122.png" class="">
        </div>
        <div class="cassette-textBox">
          <div class="cassette-title">
            <p data-campany>佐藤製薬</p>
            <p data-itemName>ユリアージュ　ウォーターハンドクリーム</p>
          </div>
          <div class="cassette-price">
            <p data-priceText>本体価格：990円(税込1,069円)</p>
          </div>
          <div class="cassette-point">
            <icon class="cassette-mark"></icon>
            <span data-pointText>100P</span>（<span data-price data-point>10.69</span> 円/P）
          </div>
          <div class="cassette-date">
            <span>発売期間：<span data-termText>11月6日(火)～1月28日(月)</span></span>
          </div>
        </div>
      </li>
  </ul>
  </div>
