@media screen and (min-width:781px) {
  @import 'common';
  @import 'animation';

  /* ヘッダー */
  .header {
    font-size: 24px;
    position: relative;
  }
  .header-icon{
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 10px;
    left: 0;
    margin: auto;
  }
  .header-title{
    padding-left: 50px;
  }

  /* 説明文 */
  .info-text {
    font-size: 16px;
    padding: 0px !important;
    margin: 0;
  }

  // PC用にカードを２枚並べる
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  /* タイトル */
  .card-title {
    font-size: 24px;
    margin: 24px auto;
    padding-top: 24px;
    border-bottom: 4px solid $c-grey;
    width: 100%;

    /* アイコンの設定 */
    /* 王冠のサイズ設定 */
    .crown-icon {
      display: inline-block;
      width: 44px;

      &::after {
        font-size: 28px;
      }
    }
  }

  /* カード */
  .card {
    width: 50%;

    &.card-header {
      width: 100%;
    }
  }

  .card-content {
    font-size: 16px;
    background-color: $c-white;

    p {
      padding-top: 4px;
    }

    /* アイコンの設定 */
    /* 王冠のサイズ設定 */
    .crown-icon {
      display: inline-block;
      width: 44px;

      &::after {
        font-size: 24px;
      }
    }
  }

  /* 商品画像 */
  .card-image {
    padding: 0px !important;
  }

  /* 商品情報の文言 */
  .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    &.is-active {
      -webkit-line-clamp: inherit;
    }
  }

  /* ポイント */
  .card-point {
    color: $c-red;
    font-size: 20px;
    padding-top: 8px;
  }

  /* フッターボタン */
  .fixed-action-btn {
    &.is-sp {
      display: none;
    }
  }

  .footer-icon::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
  }
}