@media screen and (max-width:480px) {
  @import 'common';

  /* ヘッダー */
  .header {
    font-size: 20px;
  }

  /* 説明文 */
  .info-text {
    font-size: 16px;
    padding: 0px !important;
    margin: 0;
  }

  /* タイトル */
  .card-title {
    font-size: 18px;
    margin: 16px auto;
    padding-top: 16px;
    border-bottom: 4px solid $c-grey;

    /* アイコンの設定 */
    /* 王冠のサイズ設定 */
    .crown-icon {
      display: inline-block;
      width: 30px;

      &::after {
        font-size: 22px;
      }
    }
  }

  /* カードの余白部分 */
  .card {
    .card-content {
      padding: 12px 8px;
    }

    .card-textBox {
      padding-right: 0;
    }
  }

  // カードの中身
  .card-content {
    font-size: 14px;

    /* アイコンの設定 */
    /* 王冠のサイズ設定 */
    .crown-icon {
      display: inline-block;
      width: 24px;

      &::after {
        font-size: 16px;
      }
    }
  }

  /* 商品画像 */
  .card-image {
    padding: 0px !important;
  }

  /* ポイント */
  .card-point {
    color: $c-red;
    font-size: 16px;
  }

  /* フッター */
  .footer-btnList {
    display: flex;
    width: 96px;
    height: 40px;
    top: 0;
    bottom: 0 !important;
    margin: auto !important;
    justify-content: space-between;
  
    .footer-icon {
      position: absolute;
      right: 0%;
    }
  
    &__rigth {
      right: auto !important;
      left: 150% !important;
      flex-direction: row-reverse;
    }
  
    &__left{
      right: 150% !important;
      left: auto !important;
    }
  }

  /* フッターボタン */
  .fixed-action-btn{
    width:56px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0;

    &.is-pc{
      display: none;
    }
  }
  .footer-icon::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
  }
}